<app-home></app-home>
<div class="page-content">
    <h1>Full Guide to Become a Professional Chef</h1>
    <div class="author-infos">
        <div class="author">                    
        </div>
        <div class="author-name">
            John Smith
        </div>
        <div class="date">
            {{ formattedDate }}
        </div>
    </div>
    <div class="page-text">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui dolorum sed veniam! Dignissimos a, impedit, tenetur labore asperiores, magnam eaque aut harum amet quibusdam assumenda error nam in neque veritatis!
        </p>
    </div>
    <div class="page-img">

    </div>
</div>

<app-delice></app-delice>
<app-formu></app-formu>
<app-footer></app-footer>
