<div class="parent">
    <div class="fils-gauche">
        <div class="content-vide"></div>
        <div class="content-img">
    
        </div>
    </div>
    <div class="fils-milieu">
        <h3>Deliciousness to your inbox</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic dolore quos voluptates natus ex, iste facere excepturi veritatis iusto, molestias a deleniti asperiores, sequi quae. Impedit, iure! Itaque, quod recusandae.
        </p>
        <form action="">
            <div class="formu">
                <input type="email" name="mail" id="mail" placeholder="Your email address...">
                <input type="submit" name="btn-submit" value="Suscribe">
            </div>
        </form>
    </div>
    <div class="fils-droit">
        <div class="content-vide"></div>
        <div class="content-img2">

        </div>
    </div>
</div>
