<div class="containers">
    
    <div class="milieu">
        <div class="content-text container">
            <h1>Everyone can be a chef in their own kitchen</h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque, dolor at efficitur lacinia, ipsum dolor dignissim purus, vitae convallis neque nisi id turpis.
            </p>
            
            <div class="btn-infos">
                <button class="btn-view">Learn More</button>
            </div>
        </div>
        <div class="content-img">

        </div>
    </div>
    
</div>